div.card{
  background: #1d2146;
}

div.card h2 {
  font-size: 17px;
}

div.next-movies {
  background: rgb(163, 163, 216);
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
