<div class="row pb-5">
  <div *ngFor="let movie of movieSvc.movies$ | async;let i=index" class="col-12 col-lg-2">
    <!-- CARD -->
    <!-- router link sert pour le routage-->
    <div (click)="navToDetail(movie)" [routerLink]="['details',movie.id]" class="card">
      <img [src]="getImageUrl(movie.image)" alt="">
      <div  class="card-body">
        <h2 >{{movie.titre}}</h2>
      </div>
    </div>
    <pre>{{movie|json}}</pre>
  </div>
</div>

<!-- BAR BUTTON films suivants-->
<div class="next-movies">
  <button class="btn btn-light" (click)="getNextMoviesOnAction()">Films suivants</button>
</div>
